<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> StudApp API </title>

    <style>
    body {
        background-image: url(<%= asset_path "tlo.png" %>);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        font-size: 25px;
        color: white;

        

    }
    h1 {
        margin-top: 100px;
        margin-left: 35vw;
        color: white;
    }
    li {
        font-size: 18px;
        color: white;
    }
    ul {
      color: white;
    }
    a:link:
    color: white;

    </style>
  </head>

  <body>
    <h1>StudApp API</h1>
  </body>
</html>
